# Medical Data: EDA

## Imports

In [1]:
import sys

# adds everything in the directory above to the path
sys.path.insert(0, '../')

In [2]:
# autoreload all libraries/modules
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd

In [4]:
import missingno as msno

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from thefuzz import fuzz, process
import recordlinkage

Custom

In [7]:
from src.generate_report import check_for_categorical

## Data Import & Initial EDA

In [8]:
path = "../data/medical_raw_data.csv"

medical = pd.read_csv(path)

In [9]:
medical.shape

(10000, 53)

As there are 53 columns, transposing the sample will make the column
names easier to read.

In [10]:
display(medical.sample(5).T)

,5172,9143,4720,1720,5950
Unnamed: 0,5173,9144,4721,1721,5951
CaseOrder,5173,9144,4721,1721,5951
Customer_id,P406572,U993848,A774232,L246603,G348468
Interaction,1aa46d80-c928-45cb-b6fb-e85f9df78bce,ab25586a-46ad-4168-b127-8c1123b572bb,3c671899-6d73-434d-9758-8b1ba700fdee,937861e0-82d7-4b00-8909-779a65940049,08c1e2aa-a802-4086-babe-eebd732ea58c
UID,ee43d746a11e672724a62a3314b7224a,885ac297aea5deccf18912061981e015,1c8c9461dd6579e32bdf8211722db2a8,aae7cb218cc0a54537291ba2c42c4225,77c53dd3e29de13486a5a4bb04063787
City,Gettysburg,Lexington,Roscoe,Fairland,Virgin
State,OH,TX,TX,IN,UT
County,Darke,Lee,Nolan,Shelby,Washington
Zip,45328,78947,79545,46126,84779
Lat,40.116,30.42087,32.41143,39.62051,37.33951
Lng,-84.49651,-97.03765,-100.58009,-85.88837,-113.12072
Population,564,4688,1872,5217,600
Area,Urban,Suburban,Urban,Urban,Rural
Timezone,America/New_York,America/Chicago,America/Chicago,America/Indiana/Indianapolis,America/Denver
Job,Tourism officer,Clinical biochemist,Chief of Staff,Hydrographic surveyor,"Surveyor, building control"
Children,NaN,1.0,NaN,NaN,NaN
Age,NaN,67.0,74.0,42.0,31.0
Education,GED or Alternative Credential,GED or Alternative Credential,"Some College, 1 or More Years, No Degree",GED or Alternative Credential,Regular High School Diploma
Employment,Unemployed,Full Time,Full Time,Unemployed,Unemployed
Income,28002.18,80583.95,33514.0,57298.47,32357.49
Marital,Divorced,Widowed,Married,Separated,Separated
Gender,Male,Female,Male,Male,Female
ReAdmis,Yes,Yes,No,No,Yes
VitD_levels,14.01328,22.950779,16.477222,15.958134,16.394883
Doc_visits,4,4,7,4,3
Full_meals_eaten,2,0,1,0,0
VitD_supp,0,1,0,0,0
Soft_drink,NaN,No,Yes,NaN,No
Initial_admin,Elective Admission,Emergency Admission,Emergency Admission,Elective Admission,Observation Admission
HighBlood,Yes,No,Yes,Yes,No
Stroke,No,No,Yes,No,No
Complication_risk,Medium,Low,Low,High,Low
Overweight,1.0,0.0,0.0,0.0,1.0
Arthritis,Yes,Yes,Yes,Yes,No
Diabetes,No,No,Yes,Yes,No
Hyperlipidemia,No,Yes,No,No,Yes
BackPain,Yes,Yes,No,No,No
Anxiety,0.0,0.0,NaN,0.0,1.0
Allergic_rhinitis,No,Yes,Yes,Yes,Yes
Reflux_esophagitis,No,Yes,No,Yes,Yes
Asthma,No,No,No,Yes,Yes
Services,Intravenous,Blood Work,Intravenous,CT Scan,Blood Work
Initial_days,65.067683,56.903497,NaN,16.381846,69.824629
TotalCharge,7531.434573,8425.79858,4515.682362,4262.449456,7649.410446
Additional_charges,16585.52837,11359.44822,25161.79172,14443.88295,5414.590344
Item1,4,3,4,2,5
Item2,5,3,4,3,4
Item3,4,3,3,4,3
Item4,3,5,4,3,3
Item5,3,3,4,3,4
Item6,4,4,4,4,4
Item7,4,4,4,4,4
Item8,3,4,4,2,5

In [11]:
medical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 53 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10000 non-null  int64
 1   CaseOrder           10000 non-null  int64
 2   Customer_id         10000 non-null  object
 3   Interaction         10000 non-null  object
 4   UID                 10000 non-null  object
 5   City                10000 non-null  object
 6   State               10000 non-null  object
 7   County              10000 non-null  object
 8   Zip                 10000 non-null  int64
 9   Lat                 10000 non-null  float64
 10  Lng                 10000 non-null  float64
 11  Population          10000 non-null  int64
 12  Area                10000 non-null  object
 13  Timezone            10000 non-null  object
 14  Job                 10000 non-null  object
 15  Children            7412 non-null   float64
 16  Age                 7586 non-null   float64
 17  Education           10000 non-null  object
 18  Employment          10000 non-null  object
 19  Income              7536 non-null   float64
 20  Marital             10000 non-null  object
 21  Gender              10000 non-null  object
 22  ReAdmis             10000 non-null  object
 23  VitD_levels         10000 non-null  float64
 24  Doc_visits          10000 non-null  int64
 25  Full_meals_eaten    10000 non-null  int64
 26  VitD_supp           10000 non-null  int64
 27  Soft_drink          7533 non-null   object
 28  Initial_admin       10000 non-null  object
 29  HighBlood           10000 non-null  object
 30  Stroke              10000 non-null  object
 31  Complication_risk   10000 non-null  object
 32  Overweight          9018 non-null   float64
 33  Arthritis           10000 non-null  object
 34  Diabetes            10000 non-null  object
 35  Hyperlipidemia      10000 non-null  object
 36  BackPain            10000 non-null  object
 37  Anxiety             9016 non-null   float64
 38  Allergic_rhinitis   10000 non-null  object
 39  Reflux_esophagitis  10000 non-null  object
 40  Asthma              10000 non-null  object
 41  Services            10000 non-null  object
 42  Initial_days        8944 non-null   float64
 43  TotalCharge         10000 non-null  float64
 44  Additional_charges  10000 non-null  float64
 45  Item1               10000 non-null  int64
 46  Item2               10000 non-null  int64
 47  Item3               10000 non-null  int64
 48  Item4               10000 non-null  int64
 49  Item5               10000 non-null  int64
 50  Item6               10000 non-null  int64
 51  Item7               10000 non-null  int64
 52  Item8               10000 non-null  int64
dtypes: float64(11), int64(15), object(27)
memory usage: 4.0+ MB

In [12]:
# medical['Timezone'].value_counts()  # 26
# medical['Job'].value_counts()  # 639
medical['Education'].value_counts()  # 12

Education
Regular High School Diploma                 2444
Bachelor's Degree                           1724
Some College, 1 or More Years, No Degree    1484
9th Grade to 12th Grade, No Diploma          832
Associate's Degree                           797
Master's Degree                              701
Some College, Less than 1 Year               642
Nursery School to 8th Grade                  552
GED or Alternative Credential                389
Professional School Degree                   208
No Schooling Completed                       133
Doctorate Degree                              94
Name: count, dtype: int64

In [13]:
# def check_for_categorical(df, threshold=30, file=None):
#     """
#     check if there are

#     Input:
#         df: 2D pandas dataframe
#         threshold (int, default 30):
#             max number of unique values to show value counts
#         file (str filepath, default None):
#             if present, output is saved to a txt file, returns None

#     Returns:
#         if file=None, returns str
#         if file, generates .txt file and returns None
#     """

#     output_string = ""

#     for column in df.columns:
#         unique_value_counts = df[column].value_counts().shape[0]

#         header_string = f"{column:<15} {str(medical[column].dtype):<15} " \
#                         f"{unique_value_counts}"

#         if unique_value_counts > threshold:
#             output_string += header_string + "\n"
#         elif unique_value_counts <= threshold:

#             output_string += "\n" + header_string + "\n"

#             output_string += str(df[column].value_counts()) + "\n"

#     if file:

#         with open(file, 'a') as f:

#             print(output_string, file=f)

#     else:
#         return output_string

In [15]:
check_for_categorical(
    medical,
    file="../reports/medical_cat_report.txt")